<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="SlideEngage PowerPoint Add-in" Language="1033" Version="1.0.0" Manufacturer="SlideEngage" UpgradeCode="7B8CCAE0-68D3-4C73-A4DA-B72E92E0B93F">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perUser" Description="Installs the SlideEngage PowerPoint Office Add-in."/>
    <MajorUpgrade DowngradeErrorMessage="A newer version of SlideEngage is already installed."/>
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="MainFeature" Title="SlideEngage" Level="1">
      <ComponentGroupRef Id="SlideEngageComponents"/>
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="SlideEngageDir" Name="SlideEngage">
          <Directory Id="OfficeAddinDir" Name="OfficeAddin"/>
        </Directory>
        <Directory Id="MicrosoftDir" Name="Microsoft">
          <Directory Id="OfficeDir" Name="Office">
            <Directory Id="Office16Dir" Name="16.0">
              <Directory Id="WefDir" Name="Wef">
                <Directory Id="SlideEngageWefDir" Name="SlideEngage"/>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="SlideEngageComponents" Directory="OfficeAddinDir">
      <Component Id="ManifestComponent" Guid="64B50946-8EB5-43E0-A3DF-6F4B6E95C18D">
        <File Id="ManifestXml" Source="$(var.SourceDir)\manifest.xml" KeyPath="yes"/>
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Office\16.0\WEF\TrustedCatalogs\{3A58A707-8F47-4B13-A3AC-99D9F7238A41}">
          <RegistryValue Name="Id" Value="{3A58A707-8F47-4B13-A3AC-99D9F7238A41}" Type="string"/>
          <RegistryValue Name="Url" Value="[LocalAppDataFolder]SlideEngage\OfficeAddin" Type="string"/>
          <RegistryValue Name="Flags" Value="1" Type="integer"/>
        </RegistryKey>
        <RemoveFolder Id="RemoveOfficeAddinDir" Directory="OfficeAddinDir" On="uninstall"/>
      </Component>
      <Component Id="PowerPointWefManifestComponent" Directory="SlideEngageWefDir" Guid="25CF6A5B-DF70-4C62-9AF5-92C79E5306EB">
        <File Id="PowerPointWefManifestXml" Source="$(var.SourceDir)\manifest.xml" Name="manifest.xml" KeyPath="yes"/>
        <RemoveFolder Id="RemovePowerPointWefDir" Directory="SlideEngageWefDir" On="uninstall"/>
      </Component>
      <Component Id="PowerPointLegacyWefManifestComponent" Directory="SlideEngageWefDir" Guid="C6381C29-D29A-464D-8E8B-7F3BE26855B0">
        <File Id="PowerPointLegacyWefManifestXml" Source="$(var.SourceDir)\manifest.xml" Name="SlideEngage.xml" KeyPath="yes"/>
      </Component>
      <Component Id="PowerPointRootWefManifestComponent" Directory="WefDir" Guid="D6E6F805-006B-412C-94BA-64DF55E6162D">
        <File Id="PowerPointRootWefManifestXml" Source="$(var.SourceDir)\manifest.xml" Name="SlideEngage.xml" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
